---
layout: default
title: Top Posts
permalink: /top-posts/
order: 3
---

<div class="row writing-container" style="display: flex">
    <div class="writing">
        <h1 class="page-heading">{{ page.title }}</h1>

        <div class="tag-heading">
            {% assign all_tags = site.tags | sort %}
            {% for tag in all_tags %}
                {% capture tag_name %}{{ tag[0] }}{% endcapture %}
                <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
            {% endfor %}

        </div>
    </div>
</div>

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{% for currentyear in (2018..2022) reversed %}
<hr>
    <h2>{{ currentyear }}</h2>
    <ul class="post-list">
    {% for post in site.posts %}
        {% if post.favorite == "yes" %}
            {% assign postyear = post.date | date: "%Y" %}
            {% assign postyear = postyear | plus: 0 %}
            {% if postyear == currentyear %}
        <li><a class="post-link-inline" href="{{ post.url }}">{{ post.title }}</a> <i>{{ post.caption }}</i>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
{% endfor %}


