---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Latest" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit:4 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <a class="post-link" href="{{ post.url | relative_url }}">
            <code>{{ post.date | date: date_format }}</code> &nbsp·&nbsp {{ post.title | escape }}
          </a>

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}


  <br/>
  <!-- Recent Favorites Section -->
  {%- if site.posts.size > 0 -%}
  {% assign i = 0 %}

    <h2 class="post-list-heading">Recent Favorites</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- if post.favorite == "yes" -%}
          {% assign i = i | plus:1 %}
            {% if i < 5 %}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <a class="post-link" href="{{ post.url | relative_url }}">
              <code>{{ post.date | date: date_format }}</code> &nbsp·&nbsp {{ post.title | escape }}
              </a>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
        {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>

